<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<ul>
  <li><a href="/family/new">New Family</a></li>
  <li><a href="/member/new">New Member</a></li>
</ul>


<%= yield %>

</body>
</html>
