<form method="POST" action="/member/create">
  <label>First name</label>
  <input type="text" name="[member][first_name]">
  <label>Age</label>
  <input type="number" name="[member][age]">
  <input type="submit" value="Submit">
</form>
